<h3>Yeni kategori Ekle -Reactive</h3>
 
<form [formGroup]="categoryAddForm" (ngSubmit)="add()" >
<div class="form-group">
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="ürün adı giriniz">
    <div class="alert alert-danger" *ngIf="categoryAddForm.get('name').hasError('required') && categoryAddForm.get('name').dirty"> ürün adı zorunludur</div>
</div>
<div class="form-group">
    <input type="text" id="description" formControlName="description" class="form-control" placeholder="açıkalama giriniz">
    <div class="alert alert-danger" *ngIf="categoryAddForm.get('description').hasError('required') && categoryAddForm.get('description').dirty"> açıklama zorunludur</div>
</div>
<div class="form-group">
    <input type="text" id="id" formControlName="id" class="form-control" placeholder="id giriniz">
    <div class="alert alert-danger" *ngIf="categoryAddForm.get('id').hasError('required') && categoryAddForm.get('id').dirty"> id zorunludur</div>
</div>
<button type="submit"  class="btn btn-primary"  [disabled]="categoryAddForm.invalid">Ekle</button>
</form>